adf_pipelines/pipeline/PL_BRONZE_INGESTION.json
{
	"name": "PL_BRONZE_INGESTION",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_BRONZE_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Source_copy2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/1506deepakpatel@gmail.com/NB_BRONZE_INGESTION",
								"baseParameters": {
									"source_system": {
										"value": "@item().source_system",
										"type": "Expression"
									},
									"file_type": {
										"value": "@item().file_type",
										"type": "Expression"
									},
									"raw_path": {
										"value": "@concat(\n'abfss://raw-oncologydata@adlsoncologydata.dfs.core.windows.net/',\nitem().folder_path,\n'/data_',\nformatDateTime(utcNow(),'yyyy-MM-dd'),\n'/'\n)",
										"type": "Expression"
									},
									"bronze_container": "bronze-oncologydata",
									"batch_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DATABRICKS",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-10T12:37:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}